<%- include('includes/header') %>

<body>
    <h1>My restaurant page</h1>

    <% if (!member) {%>
        
        <h2>Sizauthenticated emassiz</h2>
        <% } else { %>

        <h1>
            Siz authenticated ekansiz va sizning nicknameingiz  "<%= member.mb_nick%>"
            <p>Sizning telefon raqamingiz <%= member.mb_phone%></p>
        </h1>
        <% } %>}
</body>

<%- include('includes/footer') %>